$dark-background-color : #1F2937;
$hero-font: 48px;
$hero-color: #F9faf8;
$hero-secondary: 18px;
$hero-secondary-color: #e5e7eb;
$header-logo: 24px;
$button: #3882f6;
$information-text: 36px;
$information-color: #1f2937;

*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $dark-background-color;

  section{ 
    width: 70%;
    height: 80vh;
    padding: 1em 0;

    .header{ 
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{ 
        font-size: $header-logo;
        font-weight: bolder;
        color: $hero-color;
      }
    }

    nav{ 
      display: flex;
      gap: 1rem;
      a{
        text-decoration: none;
        color: $hero-secondary-color;
        font-size: 18px;
      }
    }
  }

  .hero{ 
    color: $hero-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    .text{ 
      width: 50%;
      flex-grow: 1;
      h1{ 
        font-size: $hero-font;
        padding: 0;
        margin: 0;
        color: $hero-color;
      }
      .herobtn{ 
        padding: 0.2rem 1rem;
        background-color: $button;
        outline: none;
        border: none;
        color: $hero-color;
        font-weight: bold;
        border-radius: 5px;
      }
    }
    .image{ 
      width: 700px;
      height: 400px;
      flex: 1 1 auto;
      background-color: $hero-secondary-color;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .random{ 
    width: 100%;
    background: $hero-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    flex-direction: column;
    gap: 1rem;
    .boxwrapper{ 
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .boxes{ 
        .box{ 
          width: 100%;
          height: 150px;
          border: 5px solid $button;
          border-radius: 10px;
        }
        width: 150px;
        text-align: center;
      }
    }
  }

  .quote{ 
    width: 100%;
    background-color: $hero-secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    .quotewrapper{ 
      width: 50%;
      h2{
        text-align: left;
        font-style: italic;
        font-size: $information-text;
        font-weight: 100;
        padding: 0;
        margin: 0;
      }
      p{
        padding: 0;
        margin: 0;
        text-align: right;
        font-weight: bolder;
      }

    }
  }

  .cta{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    width: 100%;
    background-color: $hero-color;
    .ctawrapper{ 
      display: flex;
      background-color: $button;
      align-items: center;
      justify-content: space-evenly;
      width: 70%;
      color: $hero-color;
      padding: 2rem 0;
      gap: 2rem;
      border-radius: 10px;
      h4,p{ 
        margin: 0;
        padding:0;
      }
      button{ 
        border: 3px solid $hero-color;
        background-color: transparent;
        color: $hero-color;
        padding: 0.3rem 1rem;
        border-radius: 5px;
        
      }
    }
  }

  footer{ 
    color: $hero-color;
    h4{
      font-weight: 100;
      }}
}