$dark-background-color : #1F2937;
$hero-font: 48px;
$hero-color: #F9faf8;
$hero-secondary: 18px;
$hero-secondary-color: #e5e7eb;
$header-logo: 24px;
$button: #3882f6;
$information-text: 36px;
$information-color: #1f2937;
